body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:grey;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  font-size: small;
  color: white;
}
.App-header h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.footer-class{
  margin-top: 60px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.menu ul li a{
  text-decoration: none;
  color: black;
}
.home-page {
  display: flex;
  justify-content: center; 
  align-items: center;    
 
}
.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%; 
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%; 
  object-fit: cover; 
  border-radius: 15px;
}


.text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-family: 'Lucida Sans', sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 10px 10px 40px rgba(0, 2, 0, 0.9);
  text-align: center;
  text-wrap: nowrap;
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}
.testimon img{
  width: 300px;
  height: 150px;
}

.download-buttons {
  background-color: goldenrod;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}